data
output
NLP
NLP.zip
renv
.Rprofile
renv.lock
run.R
run.sh
documentation
.Rproj.user
_targets/meta/meta
_targets\.gitignore
_targets/meta/meta
RWI-GEO-REDC.Rproj
_targets
.Rhistory
*.txt
src/helpers/config.R
.vscode/launch.json
logs/
.lintr
code_testing.R